samples:
  d1_grp_b1:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_grp_b1/d1_grp_b1_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_grp_b1/d1_grp_b1_2.fq.gz
    group: d1_grp_b
  d1_grp_b2:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_grp_b2/d1_grp_b2_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_grp_b2/d1_grp_b2_2.fq.gz
    group: d1_grp_b
  d1_grp_b3:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_grp_b3/d1_grp_b3_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_grp_b3/d1_grp_b3_2.fq.gz
    group: d1_grp_b
  d1_grp_h1:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_grp_h1/d1_grp_h1_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_grp_h1/d1_grp_h1_2.fq.gz
    group: d1_grp_h
  d1_grp_h2:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_grp_h2/d1_grp_h2_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_grp_h2/d1_grp_h2_2.fq.gz
    group: d1_grp_h
  d1_grp_h3:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_grp_h3/d1_grp_h3_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_grp_h3/d1_grp_h3_2.fq.gz
    group: d1_grp_h
  d1_iso_b1:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_iso_b1/d1_iso_b1_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_iso_b1/d1_iso_b1_2.fq.gz
    group: d1_iso_b
  d1_iso_b2:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_iso_b2/d1_iso_b2_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_iso_b2/d1_iso_b2_2.fq.gz
    group: d1_iso_b
  d1_iso_b3:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_iso_b3/d1_iso_b3_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_iso_b3/d1_iso_b3_2.fq.gz
    group: d1_iso_b
  d1_iso_h1:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_iso_h1/d1_iso_h1_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_iso_h1/d1_iso_h1_2.fq.gz
    group: d1_iso_h
  d1_iso_h2:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_iso_h2/d1_iso_h2_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_iso_h2/d1_iso_h2_2.fq.gz
    group: d1_iso_h
  d1_iso_h3:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_iso_h3/d1_iso_h3_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d1_iso_h3/d1_iso_h3_2.fq.gz
    group: d1_iso_h
  d7_grp_b1:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_grp_b1/d7_grp_b1_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_grp_b1/d7_grp_b1_2.fq.gz
    group: d7_grp_b
  d7_grp_b2:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_grp_b2/d7_grp_b2_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_grp_b2/d7_grp_b2_2.fq.gz
    group: d7_grp_b
  d7_grp_b3:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_grp_b3/d7_grp_b3_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_grp_b3/d7_grp_b3_2.fq.gz
    group: d7_grp_b
  d7_grp_h1:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_grp_h1/d7_grp_h1_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_grp_h1/d7_grp_h1_2.fq.gz
    group: d7_grp_h
  d7_grp_h2:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_grp_h2/d7_grp_h2_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_grp_h2/d7_grp_h2_2.fq.gz
    group: d7_grp_h
  d7_grp_h3:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_grp_h3/d7_grp_h3_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_grp_h3/d7_grp_h3_2.fq.gz
    group: d7_grp_h
  d7_iso_b1:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_iso_b1/d7_iso_b1_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_iso_b1/d7_iso_b1_2.fq.gz
    group: d7_iso_b
  d7_iso_b2:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_iso_b2/d7_iso_b2_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_iso_b2/d7_iso_b2_2.fq.gz
    group: d7_iso_b
  d7_iso_b3:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_iso_b3/d7_iso_b3_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_iso_b3/d7_iso_b3_2.fq.gz
    group: d7_iso_b
  d7_iso_h1:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_iso_h1/d7_iso_h1_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_iso_h1/d7_iso_h1_2.fq.gz
    group: d7_iso_h
  d7_iso_h2:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_iso_h2/d7_iso_h2_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_iso_h2/d7_iso_h2_2.fq.gz
    group: d7_iso_h
  d7_iso_h3:
    read1: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_iso_h3/d7_iso_h3_1.fq.gz
    read2: /scratch/group/lilab/Lilab_Seq_Data/250107_novogene_RNAseq/d7_iso_h3/d7_iso_h3_2.fq.gz
    group: d7_iso_h

corr: 
  #groups
  tissue_head: d1_grp_h,d7_grp_h,d1_iso_h,d7_iso_h
  tissue_body: d1_grp_b,d7_grp_b,d1_iso_b,d7_iso_b

pca_color: 
  day:
    #groups
    day1: d1_grp_h,d1_iso_h,d1_grp_b,d1_iso_b
    day7: d7_grp_h,d7_iso_h,d7_grp_b,d7_iso_b
  tisstrt:
    headgrp: d1_grp_h,d7_grp_h
    headiso: d1_iso_h,d7_iso_h
    bodygrp: d1_grp_b,d7_grp_b
    bodyiso: d1_iso_b,d7_iso_b

#treatment_vs_control
diff_comparisons: ["d7_grp_h_vs_d1_grp_h", "d7_iso_h_vs_d1_iso_h", "d7_iso_h_vs_d7_grp_h", "d1_iso_h_vs_d1_grp_h", "d7_grp_b_vs_d1_grp_b", "d7_iso_b_vs_d1_iso_b", "d7_iso_b_vs_d7_grp_b", "d1_iso_b_vs_d1_grp_b"]

venn:
  #2-4 gene sets(comparisons)
  day7_head: d7_grp_h_vs_d1_grp_h,d7_iso_h_vs_d1_iso_h
  day7_body: d7_grp_b_vs_d1_grp_b,d7_iso_b_vs_d1_iso_b
  iso_head: d7_iso_h_vs_d1_iso_h,d1_iso_h_vs_d1_grp_h

#comparisons
GO: ["d7_iso_h_vs_d7_grp_h", "d7_iso_b_vs_d7_grp_b"]


genome:
  index: /scratch/group/lilab/Genome_Reference/dmel_r6.55/dmel_r6.55
  annotation: /scratch/group/lilab/Genome_Reference/dmel_r6.55/dmel-all-r6.55.gtf
  splicesites: /scratch/group/lilab/Genome_Reference/dmel_r6.55/dmel-all-r6.55.hisat2.splice_sites
  geneloc: /scratch/group/lilab/Genome_Reference/dmel_r6.55/gene_annotation.csv
  geneanno: /scratch/group/lilab/Genome_Reference/dmel_r6.55/gene_annotations.tsv

pipepath: /scratch/group/lilab/Phil/bulkRNASeq_pipeline

