genome:
  index: /scratch/group/lilab/Genome_Reference/dmel_r6.55/dmel_r6.55
  annotation: /scratch/group/lilab/Genome_Reference/dmel_r6.55/dmel-all-r6.55.gtf
  splicesites: /scratch/group/lilab/Genome_Reference/dmel_r6.55/dmel-all-r6.55.hisat2.splice_sites
  geneloc: /scratch/group/lilab/Genome_Reference/dmel_r6.55/gene_annotation.csv
  geneanno: /scratch/group/lilab/Genome_Reference/dmel_r6.55/gene_annotations.tsv

pipepath: /scratch/group/lilab/Phil/bulkRNASeq_pipeline


use-singularity: true
#singularity-prefix: ".snakemake/singularity"
singularity-args: "--bind /data"


default-resources:
  runtime: 60
  mem_mb: 4096
  nodes: 1
  ntasks: 1
  cpus_per_task: 1
