
executor: "cluster-generic"
cluster-generic-submit-cmd: "sbatch -t {resources.runtime} --mem {resources.mem_mb} --nodes {resources.nodes} --ntasks {resources.ntasks} --cpus-per-task {resources.cpus_per_task} -J {rule} -o logs/{rule}.%j.out -e logs/{rule}.%j.err"

default-resources:
  runtime: 60
  mem_mb: 4096
  nodes: 1
  ntasks: 1
  cpus_per_task: 1

jobs: 30
latency-wait: 60
keep-going: true
rerun-incomplete: true
restart-times: 1
printshellcmds: false
verbose: false

use-conda: false
use-singularity: true
#singularity-prefix: ".snakemake/singularity"
#singularity-args: "--bind /data"

#shadow-prefix: ".snakemake/shadow"
